<table class="default">
    {% for eventType, eventResults in report %}
    <tr>
        <th colspan="5">{{ eventType }}</th>
    </tr>
    <tr>
        <th>Meet</th>
        <th>Date</th>
        <th>Ranking</th>
        <th>Out of</th>
        <th>%tile</th>
    </tr>
        {% set i = 0 %}
        {% for eventResult in eventResults %}
            <tr class="{% if (i % 2 == 1) %}grayed{% endif %}">
                <td>{{ eventResult.res.event.meet }}</td>
                <td>{{ eventResult.res.event.meet.date.format('d/m/Y') }}</td>
                <td>{{ eventResult.res.rank }}</td>
                <td>{{ eventResult.maxRang }}</td>
                <td>{% if (eventResult.tile is null) %}N/A{% else %}{{ eventResult.tile }} %{% endif %}</td>
            </tr>
            {% set i = i + 1 %}
        {% endfor %}
    {% endfor %}
</table>