<table class="default">
    <tr>
        <th colspan="{{ report|length + 1 }}">Age Average Statistics & %tile</th>
    </tr>
    <tr>
        <th>{{ swimmer.toStringGenderAge }}</th>
        {% for event in report %}
            <th>{{ event|eventToString }}</th>
        {% endfor %}
    </tr>
    <tr>
        <td>Best Result</td>
        {% for event in report %}
            <td>{{ event.best }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Average Time</td>
        {% for event in report %}
            <td>{{ event.avg }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Your Best Time</td>
        {% for event in report %}
        <td>{{ event.seconds }}</td>
        {% endfor %}
    </tr>
</table>