{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<form class="sign-in" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <h2>Login</h2>

    {% if error %}
        <div class="alert alert-error">{{ error|trans }}</div>
    {% endif %}

    <label>
        <input type="text" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"/>
    </label>

    <label>
        <input type="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"/>
    </label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
</form>
{% endblock fos_user_content %}